.container {
    width: 80%;
    max-width: 1024px;
    background-color: #EEE;
    padding: 0;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 20px solid #1a8ce2;

}

.list {
    margin: 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
}

.btn {
    padding: 10px 20px;
    background-color: #1a8ce2;
    border: #1a8ce2 1px solid;
    outline: none;
    margin: 25px;
    width: 200px;
    color: #eee;
    font-family: Poppins;
    border-radius: 30px;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    transform: scale(1.1);
}

.filter {
    height: 20px;
    width: 100%;
    background: #1a8ce2;
    text-align: center;
    cursor: pointer;
}

.filterOpt {
    overflow: hidden;
    height: 0;
    background: #1a8ce2;
    width: 100%;
    transition: all .5s;
}

.filterOpt.enable {
    height: 220px;
}

.filter svg {
    transform: rotateX(180deg);
    transition: all .5s;
}

.filter.enable svg {
    transform: rotateX(0deg);

}

.title {
    font-family: Poppins;
    color: #eee;
    font-size: 22px;
    font-weight: 500;
    margin: 10px;

}

.tipesOpt {
    display: grid;
    grid-template: "1fr 1fr 1fr 1fr 1fr";
    gap: 15px;
    margin: 10px;
}

.tipesOpt a {
    text-decoration: none;

    text-align: center;
    font-family: Poppins;
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #11111185;
}

@media (max-width: 1124px) {
    .list {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .list {
        grid-template: "1fr 1fr 1fr 1fr";
    }
}
@media (max-width: 800px) {
    .list {
        grid-template: "1fr 1fr 1fr ";
    }
}
@media (max-width: 600px) {
    .list {
        grid-template: "1fr 1fr ";
    }
    .filterOpt.enable {
        height: 260px;
    }
    .tipesOpt {
        grid-template: "1fr 1fr 1fr 1fr";

    }
}
@media (max-width: 400px) {
    .list {
        grid-template: "1fr";
        width: 80%;
    }

    .filterOpt.enable {
        height: 300px;
    }
    .tipesOpt {
        grid-template: "1fr 1fr 1fr ";

    }
}