

.bg {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grass {
  background: #9bcc50;
}

.poison {
  background: #b97fc9;
}

.fire {

  background: #fd7d24;
}

.flying {
  background:linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.water {
  background: #4592c4;
}

.bug {
  background: #729f3f;
}

.normal{
  background: #a4acaf;
}
.fighting{
  background: #d56723;
}
.ground{
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}
.rock{
  background: #a38c21;
}
.ghost{
  background: #7b62a3;
}
.steel{
  background: #9eb7b8;
}
.electric{
  background: #eed535;
}
.psychic{
  background: #f366b9;
}
.ice{
  background: #51c4e7;
}
.dragon{
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.dark{
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
}
.fairy{
  background: #fdb9e9;
}

